@page "/"
@using CarRental.Business.Classes
@using CarRental.Common.Enums
@using CarRental.Common.Extensions;
@inject BookingProcessor bp


<PageTitle>Car Rental</PageTitle>

@* Error messages *@
@if (errors.Count > 0)
{
    <div class="alert alert-warning" role="alert">
        Error! Please provide:
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<h3>Customers</h3>
<table class="table table-hover w-50 mb-4">
    <thead>
        <tr>
            <th scope="col">SSN</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        <tr>
            <td><input @bind="newSsn" placeholder="@LengthSsn digit SSN" maxlength="5" /></td>
            <td><input @bind="newLastName" placeholder="Last Name" /></td>
            <td><input @bind="newFirstName" placeholder="First Name" /></td>
            <td><button class="btn btn-sm btn-outline-success" @onclick="AddCustomer">Add</button></td>
        </tr>
        @foreach (var person in bp.GetCustomers())
        {
        <tr>
            <td>@person.Ssn</td>
            <td>@person.LastName</td>
            <td>@person.FirstName</td>
        </tr>
        }
    </tbody>
</table>

<h3>Vehicles</h3>
@* Filter *@
<div class="btn-group btn-group-sm" role="group" aria-label="Filter vehicle table">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label for="btnradio1" class="btn btn-outline-primary" @onclick="@(() => vStatus = default)">Show all</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label for="btnradio2" class="btn btn-outline-success" @onclick="@(() => vStatus = VehicleStatuses.Available)">Show available</label>
    
    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label for="btnradio3" class="btn btn-outline-danger" @onclick="@(() => vStatus = VehicleStatuses.Booked)">Show booked</label>
</div>
<table class="table table-hover mb-4">
    <thead>
        <tr>
            <th scope="col">RegNo</th>
            <th scope="col">Make</th>
            <th scope="col">Odometer [km]</th>
            <th scope="col">Cost per km [SEK]</th>
            <th scope="col">Vehicle Type</th>
            <th scope="col">Cost per day [SEK]</th>
            <th scope="col" class="text-center" style="width: 100px">Status</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        <tr>
            <td><input @bind="newRegNo" maxlength="6" /></td>
            <td><input @bind="newMake" /></td>
            <td><input @bind="newOdometer" /></td>
            <td><input @bind="newCostKm" /></td>
            <td>
                <select @bind=newVehicleType>
                    @foreach (var vT in Enum.GetValues(typeof(VehicleTypes)))
                    {
                        <option value="@vT">@vT</option>
                    }
                </select>
            </td>
            <td><input @bind="newCostDay" /></td>
            <td><button class="btn btn-sm btn-outline-success" @onclick="AddVehicle">Add</button></td>
        </tr>
        @foreach (var vehicle in bp.GetVehicles(vStatus))
        {
        <tr>
            <td>@vehicle.RegNo</td>
            <td>@vehicle.Make</td>
            <td>@vehicle.Odometer</td>
            <td>@vehicle.CostKm</td>
            <td>@vehicle.VehicleType</td>
            <td>@vehicle.CostDay</td>
            <td class="text-center"> <span class="badge 
                text-bg-@(vehicle.VehicleStatus is Common.Enums.VehicleStatuses.Available ? "success" : "danger")">
                @vehicle.VehicleStatus
                </span>
            </td>
        </tr>
        }
    </tbody>
</table>

<h3>Bookings</h3>
<table class="table table-hover mb-4">
    <thead>
        <tr>
            <th scope="col">RegNo</th>
            <th scope="col">Customer</th>
            <th scope="col">Odometer rented [km]</th>
            <th scope="col">Odometer returned [km]</th>
            <th scope="col">Date rented</th>
            <th scope="col">Date returned</th>
            <th scope="col">Cost [SEK]</th>
            <th scope="col" class="text-center" style="width: 100px">Booking status</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        @foreach (var b in bp.GetBookings())
        {
            if (b.BookingValid is false) continue;
            <tr>
                <td>@b.RegNo</td>
                <td>@b.Customer</td>
                <td>@b.OdometerRented</td>
                <td>@b.OdometerReturned</td>
                <td>@b.DateRented.ToString("dd/MM/yyyy")</td>
                <td>@b.DateReturned?.ToString("dd/MM/yyyy")</td>
                <td>@(b.Cost > 0 ? Math.Round(b.Cost, 2) : "")</td>
                <td class="text-center">
                    <span class="badge
                text-bg-@(b.BookingClosed ? "primary" : "warning")">
                        @(b.BookingClosed ? "Closed" : "Open")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

@code
{
    VehicleStatuses vStatus = default;

    List<string> errors = new();

    /* New customer */
    string newSsn = string.Empty, newFirstName = string.Empty, newLastName = string.Empty;
    const int LengthSsn = 5, minLengthName = 2;

    /* New car */
    string newRegNo = string.Empty, newMake = string.Empty;
    VehicleTypes newVehicleType;
    double newCostKm;
    int newCostDay, newOdometer;

    void AddCustomer()
    {
        bool inputError = false;
        errors = new();

        if (newSsn.Length != LengthSsn || !newSsn.IsNumber())
        {
            errors.Add($"SSN with {LengthSsn} digits and no leading zeros");
            inputError = true;
        }

        if (newFirstName.Length < minLengthName || !newFirstName.IsLettersOnly() || newLastName.Length < minLengthName || !newLastName.IsLettersOnly())
        {
            errors.Add($"First and last name with at least {minLengthName} letters");
            inputError = true;
        }
        if (newSsn.IsNumber() && bp.GetCustomers().Any(c => c.Ssn == (int.Parse(newSsn))))
        {
            errors.Add($"SSN that does not exist in database yet");
            inputError = true;
        }

        if (inputError) return;

        // Already checked before that newSsn is a number
        bp.AddCustomer(int.Parse(newSsn), newFirstName, newLastName);
        newSsn = newFirstName = newLastName = string.Empty;
        errors = new();
    }

    void AddVehicle()
    {
        bp.AddVehicle(newRegNo, newMake, newOdometer, newVehicleType, newCostKm, newCostDay);
    }
}
